html {
    width: 100%;
    text-align: center;
}

header { 
    margin-top: 2em;
    margin-bottom: 3em;
    border-bottom: 2px solid #424242;
}

body {
    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;
    font-kerning: normal;
    font-family: 'Source Sans Pro',
    sans-serif; #font-family: 'Source Code Pro',
    monospace; #font-family: 'Source Serif Pro',
    serif; font-weight: 400;
    font-size: calc(16px + 0.15vw + 0.15vh);
    line-height: 1.4;
    hyphens: auto;
    max-width: 78ch;
    margin: 0 auto;
}

button {
    font-family: 'Source Code Pro', monospace;
    border: 2px solid #757575;
    padding: 1em;
    background: none;
}

input {
    font-family: 'Source Code Pro', monospace;
    border: 2px solid #757575;
    margin: 0.1em;
    background: none;
}

textarea {
    font-family: 'Source Code Pro', monospace;
    border: 2px solid #757575;
    margin: 0.1em;
    background: none;
}

select {
    font-family: 'Source Code Pro', monospace;
    border: 2px solid #757575;
    margin: 0.1em;
    background: none;
}

section {
    font-family: 'Source Serif Pro', serif;
    text-align: left;
    margin-top: 3em;
}
